$color-1: #1c7c54; //dark blue-green
$color-2: #73e2a7; //light blue-green
$color-3: #def4c6; //light blue-green
$color-4: #1b512d; //dark green
$color-5: #b1cf5f; //light green
$color-6: #062410; //dark green

h1, h2, h3 {
    color: $color-6;
}

p {
    color: $color-6;
}
p a {
    color: $color-6;
}
p a:hover {
    color: $color-5;
}

.preamble, .participation, .requirements {
    background-color: lighten($color-3, 1%);
}
.summary, .explanation, .benefits, footer {
    //background-color: lighten($color-2, 1%);
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#73e2a7+8,00e068+24,00e068+24,00e068+38,06e06c+42,00e068+50,00e068+60,00e068+69,00e068+100,2989d8+100,00e068+100 */
    background: #73e2a7; /* Old browsers */
    background: -moz-linear-gradient(left,  #73e2a7 8%, #00e068 24%, #00e068 24%, #00e068 38%, #06e06c 42%, #00e068 50%, #00e068 60%, #00e068 69%, #00e068 100%, #2989d8 100%, #00e068 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #73e2a7 8%,#00e068 24%,#00e068 24%,#00e068 38%,#06e06c 42%,#00e068 50%,#00e068 60%,#00e068 69%,#00e068 100%,#2989d8 100%,#00e068 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #73e2a7 8%,#00e068 24%,#00e068 24%,#00e068 38%,#06e06c 42%,#00e068 50%,#00e068 60%,#00e068 69%,#00e068 100%,#2989d8 100%,#00e068 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73e2a7', endColorstr='#00e068',GradientType=1 ); /* IE6-9 */

}
.wrapper {
    background-color: $color-2;
    opacity: .75;

}
.wrapper a {
        color: $color-6;
        text-decoration: none;
}
.wrapper a:hover {
    //color: $color-3;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c9f29b+100,1e5799+100 */
    background: #c9f29b; /* Old browsers */
    background: -moz-linear-gradient(left,  #c9f29b 100%, #1e5799 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #c9f29b 100%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #c9f29b 100%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9f29b', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 */

}

.zen-validate-html, .zen-validate-css, .zen-license, .zen-accessibility, .zen-github  {
    color: $color-6;
    text-decoration: none;
}