$break-small: 400px;
$break-large: 800px;

body {
    background: url("Assets/ZenGardenBackground.jpg") no-repeat center center fixed;
}
h1, h2, footer {
    text-align: center;
}

/*section header h1::before {
    background: url(/Assets/logo-ver-1.jpg) no-repeat;
    height: 100px;
    width: 100px;
    border-radius: 90px 5px;
    box-shadow: 0px 1px 10px 10px rgba(0, 0, 0, 0.5);
    padding: 5px;
    background-size: 175px;
    display: inline-block;
    position: relative;
    content: "";
    top: 15px;
    margin-right: 15px;
  }*/

.summary, .preamble, .explanation, .participation, .benefits, .requirements {
    padding: 20px;  
    border-radius: 90px 5px;
    box-shadow: 0px 1px 10px 10px rgba(0, 0, 0, 0.5);
}
.wrapper {
    padding: 20px;
}
@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
      font-style: italic;
    }
  }
  
  header {  
    animation: 1s ease-out 0s 1 slideInFromRight;  
    background-color: rgba(0,0,0,.0001);
    font-style: normal;
    transition: font-style 2s; 
  }
footer {
    padding: 20px;
    border-radius: 90px 5px;
    box-shadow: 0px 1px 10px 10px rgba(0, 0, 0, 0.5);
}

.zen-validate-html {
    background: url("Assets/Icons/icon-1.svg") no-repeat;
    color: transparent;
    margin-right: -20px;
}

.zen-validate-css{
    background: url("Assets/Icons/icon-2.svg") no-repeat;
    color: transparent;
}

.zen-license{
    background: url("Assets/Icons/icon-3.svg") no-repeat;
    color: transparent;
}

.zen-accessibility{
    background: url("Assets/Icons/icon-4.svg") no-repeat;
    color: transparent;
}

.zen-github{
    background: url("Assets/Icons/icon-5.svg") no-repeat;
    color: transparent;
}

@media screen and (min-width: $break-large){
    .wrapper {
        height: 100%;
        width: 275px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        padding-top: 35px;
       
    }
    body{
        margin-left: 325px;

    }
}