//fonts
$header: 'Shadows Into Light', cursive;
$primary: 'Montserrat', sans-serif;

$header-font-size: 50px;
$primary-font-size: 30px;
$secondary-font-size: 30px;
$third-font-size: 20px;

h1, h2, h3 {
    font-family: $header;
}
h1 {
    font-size: $header-font-size;
}
h2 {
    font-size: $primary-font-size;
}

h3 {
    font-size: $primary-font-size;
    margin-bottom: 0px;
    margin-top: 5px;
}

p {
    font-size: $third-font-size;
    font-family: $primary;
}

.zen-validate-html, .zen-validate-css, .zen-license, .zen-accessibility, .zen-github  {
    font-size: $secondary-font-size;
    font-family: $primary;
}
.wrapper li {
    font-family: $primary;
    font-size: $third-font-size;
    transition: all 1s;
    list-style: none;
    margin-top: 7px;
}

.wrapper ul{
    margin-top: 0px;
    margin-bottom: 0px;
}

.wrapper li:hover{
    transform: scale(1.2);
    overflow-x:hidden;
}