//fonts
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Shadows Into Light', cursive;

$header-font-size: 40px;
$primary-font-size: 20px;
$secondary-font-size: 30px;
$third-font-size: 25px;

h1 {
    font-size: $header-font-size;
    font-family: $secondary-font;
}
h2 {
    font-size: $primary-font-size;
    font-family: $secondary-font;
}

h3 {
    font-size: $secondary-font-size;
    font-family: $primary-font;
    margin-bottom: 0px;
    margin-top: 5px;
}

p {
    font-size: $third-font-size;
    font-family: $primary-font;
}

.zen-validate-html, .zen-validate-css, .zen-license, .zen-accessibility, .zen-github  {
    font-size: $secondary-font-size;
    font-family: $primary-font;
}
.wrapper li {
    font-family: $primary-font;
    font-size: $primary-font-size;
    transition: all 1s;
    list-style: none;
    margin-top: 7px;
}

.wrapper ul{
    margin-top: 0px;
    margin-bottom: 0px;
}

.wrapper li:hover{
    transform: scale(1.2);
    overflow-x:hidden;
}