@import url("https://fonts.googleapis.com/css?family=Montserrat|Shadows+Into+Light&display=swap");
h1, h2, h3 {
  color: #062410;
}

p {
  color: #062410;
}

p a {
  color: #062410;
}

p a:hover {
  color: #b1cf5f;
}

.preamble, .participation, .requirements {
  background-color: #e0f5ca;
}

/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#73e2a7+8,00e068+24,00e068+24,00e068+38,06e06c+42,00e068+50,00e068+60,00e068+69,00e068+100,2989d8+100,00e068+100 */
.summary, .explanation, .benefits, footer {
  background: #def4c6;
  background: -moz-linear-gradient(90deg, #def4c6 0%, #b1cf5f 50%, #1b512d 100%);
  background: -webkit-linear-gradient(90deg, #def4c6 0%, #b1cf5f 50%, #1b512d 100%);
  background: linear-gradient(90deg, #def4c6 0%, #b1cf5f 50%, #1b512d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#def4c6",endColorstr="#1b512d",GradientType=1);
}

.wrapper {
  background-color: #b1cf5f;
  opacity: 0.75;
}

.wrapper a {
  color: #062410;
  text-decoration: none;
}

.zen-validate-html, .zen-validate-css, .zen-license, .zen-accessibility, .zen-github {
  color: #062410;
  text-decoration: none;
}

body {
  background: url("Assets/ZenGardenBackground.jpg") no-repeat center center fixed;
}

h1, h2, footer {
  text-align: center;
}

h1 {
  display: block;
  margin-bottom: 10px;
}

h2 {
  margin-left: 125px;
}

section header h1::before {
  background: #b1cf5f;
  height: 100px;
  width: 100px;
  border-radius: 90px 5px;
  box-shadow: 0px 1px 10px 10px rgba(0, 0, 0, 0.5);
  padding: 5px;
  background-size: 175px;
  display: inline-block;
  position: relative;
  content: "";
  top: 15px;
  margin-right: 15px;
  margin-left: 0;
  animation: 15s turning;
}

@keyframes turning {
  0% {
    border-radius: 0;
  }
  100% {
    border-radius: 100;
  }
}
.summary, .preamble, .explanation, .participation, .benefits, .requirements {
  padding: 20px;
  border-radius: 5px 90px;
  box-shadow: 0px 1px 10px 10px rgba(0, 0, 0, 0.5);
}

.wrapper {
  padding: 20px;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    font-style: italic;
  }
}
header {
  animation: 1s ease-out 0s 1 slideInFromRight;
  background-color: rgba(0, 0, 0, 0.0001);
  font-style: normal;
  transition: font-style 2s;
}

footer {
  padding: 20px;
  border-radius: 90px 5px;
  box-shadow: 0px 1px 10px 10px rgba(0, 0, 0, 0.5);
}

.zen-validate-html {
  background: url("Assets/Icons/icon-1.svg") no-repeat;
  color: transparent;
  margin-right: -20px;
}

.zen-validate-css {
  background: url("Assets/Icons/icon-2.svg") no-repeat;
  color: transparent;
}

.zen-license {
  background: url("Assets/Icons/icon-3.svg") no-repeat;
  color: transparent;
}

.zen-accessibility {
  background: url("Assets/Icons/icon-4.svg") no-repeat;
  color: transparent;
}

.zen-github {
  background: url("Assets/Icons/icon-5.svg") no-repeat;
  color: transparent;
}

@media screen and (min-width: 800px) {
  .wrapper {
    height: 100%;
    width: 275px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 35px;
  }

  body {
    margin-left: 325px;
  }
}
h1, h2, h3 {
  font-family: "Shadows Into Light", cursive;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 0px;
  margin-top: 5px;
}

/*
.preamble h3 {
    font-size: $secondary-font-size;
    font-family: $header-font;
    margin-bottom: 0px;
    margin-top: 5px;
}
*/
p {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.zen-validate-html, .zen-validate-css, .zen-license, .zen-accessibility, .zen-github {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}

.wrapper li {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  transition: all 1s;
  list-style: none;
  margin-top: 7px;
}

.wrapper ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

.wrapper li:hover {
  transform: scale(1.2);
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
